---
import config from "../../config"

const app = config.App
const footer = config.Footer
---


<footer class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
      <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
        <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900" href="/">
          <img class="w-16 rounded-xl" src={app.Logo} alt="MyServers logo"/>
          <span class="ml-3 text-xl">{app.Name}</span>
        </a>
        <p class="mt-2 text-sm text-gray-900">{app.Descript}</p>
      </div>

      {footer.Blocks.map((f) => {
        return  <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">{f.name}</h2>
          <nav class="list-none mb-10">
                {
                    f.Links.map((l) => {
                        return  <li class="p-1"><a class="text-gray-900 hover:text-gray-100" href={l.url}>{l.name}</a></li>
                    })
                }
          </nav>
        </div>
      </div>
    })}

    </div>
    <div >
      <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
        <p class="text-gray-700 text-sm text-center sm:text-left">© 2023 {app.Name} —
          <a href="/" rel="noopener noreferrer" class="text-gray-600 ml-1" target="_blank">@Codelover</a>
        </p>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
          <!-- <a class="text-gray-500">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
            </svg>
          </a> -->
        </span>
      </div>
    </div>
  </footer>